<div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center justify-center">
  <div>
    <h1 class="text-center text-2xl font-medium font pb-2">
      <span class="text-[#3e2093]">About</span>
      Creation Corner!
    </h1>
    <p class="text-justify font">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat saepe
      alias facere, iusto ipsum ab, voluptates eaque quam exercitationem quo
      provident vitae error nisi facilis distinctio, id praesentium iste in
      fugiat? Qui quae magni eum, corrupti in doloribus consequuntur rerum nisi
      harum minima molestiae possimus quisquam est ullam esse saepe veritatis
      iusto hic ex fugit. Dolore dolorum ipsa tempore facere obcaecati id, no n
      eaque, illum quaerat enim ad, nisi repellat! Quae magnam ea eos culpa.
      Accusantium cumque repudiandae et laboriosam amet aspernatur dignissimos,
      esse, vitae, doloremque eius quam labore debitis architecto alias!
      sapiente aspernatur ex deleniti tenetur perspiciatis. Quaerat, quod et!
    </p>
  </div>
  <div class="pt-10">
    <img src="./assets/images/about2.jpg" alt="" />
  </div>
</div>

<!-- Why Choice us section -->

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center justify-center">
  <div>
    <img class="pt-10" src="./assets/images/why-choice.jpg" alt="" />
  </div>
  <div>
    <h1 class="text-center text-3xl font-medium font text-[#3e2093] pb-2">
      <span class="text-black">Why</span> Creation Corner?
    </h1>
    <p class="text-justify font">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat saepe
      alias facere, iusto ipsum ab, voluptates eaque quam exercitationem quo
      provident vitae error nisi facilis distinctio, id praesentium iste in
      fugiat? Qui quae magni eum, corrupti in doloribus consequuntur rerum nisi
      harum minima molestiae possimus quisquam est ullam esse saepe veritatis
      iusto hic ex fugit. Dolore dolorum ipsa tempore facere obcaecati id, no n
      eaque, illum quaerat enim ad, nisi repellat! Quae magnam ea eos culpa.
      Accusantium cumque repudiandae et laboriosam amet aspernatur dignissimos,
      esse, vitae, doloremque eius quam labore debitis architecto alias!
      sapiente aspernatur ex deleniti tenetur perspiciatis. Quaerat, quod et!
    </p>
  </div>
</div>
