<div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center justify-center">
  <div>
    <h1 class="text-center text-2xl font-medium font pb-2">
      <span class="text-[#3e2093]">About</span>
      Creation Corner!
    </h1>
    <p class="text-justify font">
      We are a web development company dedicated to creating customized, modern, and user-friendly websites for businesses of all sizes. Our experienced developers and designers are committed to delivering high-quality work that meets our clients' needs and goals.

      We specialize in website design and development, e-commerce solutions, content management systems, website maintenance, and hosting. We work closely with our clients to understand their business goals, target audience, and branding, to create effective websites that not only look great but function seamlessly.
      
      Our commitment to delivering excellent customer service and support sets us apart. We believe that a great website is key to the success of any business, and we are passionate about helping our clients achieve their goals through effective web development.
      
      Contact us today to learn how we can help your business grow and thrive with a customized website.
      
    </p>
  </div>
  <div class="pt-10">
    <img src="./assets/images/about2.jpg" alt="" />
  </div>
</div>

<!-- Why Choice us section -->

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center justify-center">
  <div>
    <img class="pt-10" src="./assets/images/why-choice.jpg" alt="" />
  </div>
  <div>
    <h1 class="text-center text-3xl font-medium font text-[#3e2093] pb-2">
      <span class="text-black">Why</span> Creation Corner?
    </h1>
    <p class="text-justify font">
      Choosing the right web development company is crucial for the success of your business online, and we believe that our team has what it takes to deliver outstanding results. Here are some reasons why you should choose us:

      Our team of experienced developers specializes in the MERN (MongoDB, Express, React, Node.js) stack, which is a powerful and popular web development stack. This expertise allows us to create fast, efficient, and scalable web applications tailored to your specific needs.
      
      We have a strong focus on web design, ensuring that your website is not only functional, but also visually appealing and user-friendly. We specialize in React, Next.js, HTML, CSS, and JavaScript, which allows us to create beautiful and functional websites optimized for both desktop and mobile devices.
      
      We have extensive experience with MongoDB, a popular NoSQL database used for web applications, as well as real-time databases and technologies such as Socket.IO. This means that we can create scalable and efficient web applications that are optimized for performance.
      
      In addition, our team has expertise in Shopify, Redux, TypeScript, and other cutting-edge web development technologies that can help take your website to the next level.
      
      We are passionate about delivering high-quality web development services, and we strive to exceed your expectations in every project. Contact us today to learn more about how we can help you achieve your web development goals.
    </p>
  </div>
</div>
